<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.peterepley.employeedirectory"
        versionCode = "10"
        version     = "1.00">
 
    <name>Employee Directory</name>
 
    <description>
        A simple employee directory application
    </description>
 
    <author href="http://twitter.com/epleypa" email="pae2008@gmail.com">
        Peter Epley
    </author>
 
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.vibration" />
	
	<gap:platform name="android" />
 
</widget>